table.form-table
{
	  width: 100%;
    position: relative;
    background-color: #fff;
    border: 2px solid #BFE2FF;
    border-radius: 2px;
    margin-bottom: 20px;

}

table.form-table th, table.form-table td
{
	width: 100%;
    position: relative;
    background-color: #fff;
    border: 2px solid #BFE2FF;
    border-radius: 2px;
    margin-bottom: 20px;

}

table.form-table th
{
	background-image:url(images/i.jpg);
	background-repeat:repeat-x;
	text-align: left;
	color:#25639A;

}


table.form-table td
{
	padding: 15px 5px;

}

.form-required 
{
	
}

.error-fld {
	display: block;
	float: left;
	height: 10px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);

}