#main {
	min-height:100%;
	margin: 0 auto;
	position: relative;
	width: 980px;
	font-size:.8125em;
	}


ul {
	list-style-type:square;
	list-style-position:outside;
	margin:0 0 1.5em 1.5em;
	}
#slide { height:600px; width:900px; position:relative; overflow:hidden; z-index:2}

.slider {
	width:900px;
	margin:0 auto;
	position:relative;
	z-index:2
}
.items {
	display:none;
}

.pagination {
		position:absolute;
		top:551px;
		left:369px;
		display:inline-block;
		height:20px;
		width:140px;
		border:1px solid #000;
		background:url(images/pagination-bg.gif) left top repeat-x;
		border-radius:15px;
		-moz-border-radius:15px;
		-webkit-border-radius:15px;
		padding:5px 0 0 20px;		
		z-index:60;
	}
	.pagination li {
		float:left;
		padding:0 3px 0 0;
		font-size:0;
		line-height:0;
		margin:0;
		color:#252525;
		background:none !important;
	}
		.pagination a {
			display:block;
			width:15px;
			height:15px;
			background:url(images/pagination-a-bg.gif) left 0px no-repeat;
			font-size:0;
			line-height:0;
			text-decoration:none;
		}
			.pagination li.current a {
				background:url(images/pagination-a-active.gif) left 0px no-repeat;
			}

.prev {
	display:block;
	width:25px;
	height:22px;
	background:url(images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:359px;
	padding:2px 0 0 0;
	font-weight:bold;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.prev:hover {
		color:#999
	}
.next {
	display:block;
	width:25px;
	height:22px;
	background:url(images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:553px;
	padding:2px 0 0 0;
	font-weight:bold;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.next:hover {
		color:#999
	}
	
.play {
	display:block;
	width:45px;
	height:22px;
	background:url(images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:552px;
	left:823px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
	.play span {
		display:none;
	}
	.play em {
		font-style:normal;
		display:block;
	}
.paused span {
	display:block;
}
.paused em {
	display:none;
}
.banner{
	width:260px;
	overflow:hidden;
	position:absolute;
	top:200px;
	color:#fff;
	right:0px;
	z-index:15;
	background:#000 left top repeat;
	opacity: 0.7;
	font: bold 24px/1 sans-serif;
	padding:0px;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
}
	.banner span {
		display:block;
		padding:20px;
	}

.progbar {
	background:#000;
	width:100%;
	height:2px;
	position:absolute;
	top:0px;
	left:0px;
	z-index:999;
}
.numStatus {
	display:block;
	width:45px;
	height:22px;
	background:url(images/pagination-bg.gif) left top repeat-x;
	position:absolute;
	z-index:15;
	border-radius:15px;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	top:551px;
	left:583px;
	padding:2px 0 0 0;
	text-align:center;
	color:#fff;
	text-decoration:none;
}
/*-------- end slider -----------*/

.col-1 {
	float:left;
	width:400px;
	padding-right:50px
}
* + html .min {
	min-height:45px;
}
.col-2 {
	float:left;
	width:400px;
}

