
div.news-calendar-compact .NewsCalTable,div.news-calendar-compact  .NewsCalTable tr,div.news-calendar-compact  .NewsCalTable td {
	padding: 1rem 1rem;
font-size:10pt;
        border-top: 1px solid #008000;
        border-bottom: 1px solid #008000;



}
div.news-calendar-compact .NewsCalWeekend,div.news-calendar-compact  .NewsCalToday,div.news-calendar-compact  .NewsCalDefault,div.news-calendar-compact  .NewsCalOtherMonth ,div.news-calendar-compact  .NewsCalHeader,div.news-calendar-compact  .NewsCalMonthNav,div.news-calendar-compact  .NewsCalDay,div.news-calendar-compact  .NewsCalNews{
  background-color: rgb(152,251,152, 0.3);

  box-shadow:
     0px 0px 0px 2px #e66053,
     10px 10px 20px 10px fade-out($black, .5);
  flex-basis: 980px;
}
div.news-calendar-compact .NewsCalToday{
	background: #008000;
                color: #FFFFFF;

                border-radius: 50%;
}
div.news-calendar-compact .NewsCalDefault{
	background-color:#FFFFFF;
}
div.news-calendar-compact .NewsCalOtherMonth{
color: #7D8994;
                
}
div.news-calendar-compact .NewsCalWeekend{
	color: red;
}
div.news-calendar-compact .NewsCalHeader{
	padding: 0 1.25rem;
font-size:14pt;
        color:  #008000;        
        justify-content: space-between;
        align-items: center;
 font-family: 'Montserrat';
  font-weight: 700;
  min-height: 100vh;
}
div.news-calendar-compact .NewsCalMonthNav{
}
div.news-calendar-compact .NewsCalDay{
	color:#AE5989;
}
div.news-calendar-compact .NewsCalDayOther{
	color:##AE5989;
}
div.news-calendar-compact .NewsCalNews{

color: #AE5989;

                }
