
#slide { height:600px; width:900px; position:relative; overflow:hidden; z-index:2}
.slider {
	width:90px;
	margin:0 auto;
	position:relative;
	z-index:2
}
.items {
	display:none;
}
.pagination, .prev, .next, .play, .paused, .progbar, .numStatus {display:none;}
.banner{
	width:260px;
	overflow:hidden;
	position:absolute;
	top:200px;
	color:#fff;
	right:0px;
	z-index:15;
	background:url(../images/png.png) left top repeat;
	padding:0px;
	border-radius:10px 0 0 10px;
	-moz-border-radius:10px 0 0 10px;
	-webkit-border-radius:10px 0 0 10px;
}
	.banner span {
		display:block;
		padding:20px;
	}

