.voting-form-box
{
	font-size:100%;
}

.voting-form-box .active
{
	color:green;
}

.voting-form-box .disable
{
	color:red;
}

.voting-form-box label
{
	line-height:20px;
}

.voting-form-box form
{
	margin:0;
}

.starrequired 
{
    color:red;
}
.vote-reply-field-captcha-label {
    margin-bottom:6px;}
.vote-vote-footer {
    margin-top:6px;}
.vote-reply-field-captcha-image {
    margin:6px 0;}


#slider {
	position: relative;
	width: 860px; height: 500px;
	border: 3px solid;
border-color: #d900c0 #016eda #d900c0 #016eda;
	overflow: hidden;
	margin: 75px auto 0 auto;
	z-index: 10;
	}

#buttons {
	position: relative;
	width: 926px; height: 90px;
	margin: -100px auto;
	z-index: 100;
	}

#right {
	width: 105px; height: 40px;
	background-image: url(im/next_button.png);
	text-indent: -99999px;
	float: right;
	cursor: pointer;
	}
	
#left {
	width: 105px; height: 40px;
	background-image: url(im/back_button.png);
	text-indent: -99999px;
	float: left;
	cursor: pointer;
	}

	
#slider ul {
	position: relative;
	}
	
#slider ul li {
	float: left;
	}
	
#numbers {
	height: auto;
	margin: 35px auto;
	text-align: center;
	}	
	

#numbers li {
	position: relative;
	width: 28px; height: 13px;
	background-image: url(im/dot_sprite.png);
	background-repeat: no-repeat;
	float: left;
	margin: 0 0px 5px 0;
	cursor: pointer;
	text-indent: -99999px;
	z-index: 100;
	}
	
.activenum {
	background-position: 0 -13px;
	}

//radio

:root {
  --form-control-color: rebeccapurple;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


.form-control {
  font-family: system-ui, sans-serif;
   font-weight: bold;
  line-height: 1.1;
  width: 800px;
  height: 20px;
}

.form-control + .form-control {
  margin-top: 20px;
}

.form-control:focus-within {
  color: #6495ED;
}

.form-radio {

  -webkit-appearance: none;
 
  appearance: none;

  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: #6495ED;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #6495ED;
  border-radius: 50%;
 
  place-content: center;
}

.form-radio::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #6495ED;
  /* Windows High Contrast Mode */
  background-color: #6495ED;
}

.form-radio:checked::before {
  transform: scale(1);
}

.form-radio:focus {
  outline: max(2px, 0.15em) solid #6495ED;
  outline-offset: max(2px, 0.15em);
}
//radio

//кнопка-голосовать
:root {
  /* violet */
  --primary-color: 111, 76, 255;
  
  /* white */
  --text-color: 256, 256, 256;
}


.btn {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  padding: 12px 32px;
 font-weight: bold;
  
  border-radius: 2px;
  transition: all 0.3s ease;
  border-radius: 50px;
 margin: 0 auto;
  display: block;
}

.btn:hover {
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: rgb(var(--primary-color));
  border: 1px solid rgb(var(--primary-color));
  color: rgb(var(--text-color));
}

/* https://thegraph.com/en/ */
.btn-semi-transparent {
  background-color: rgba(var(--primary-color), 0.15);
  border: 1px solid rgba(var(--primary-color), 0.25);
  color: rgba(var(--text-color), 0.8);
}

.btn-semi-transparent:hover {
  background-color: rgba(var(--primary-color), 0.35);
  border: 1px solid rgba(var(--primary-color), 0.5);
  color: rgba(var(--text-color), 0.9);
}

.btn-glow:hover {
  box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
}

/* https://sushi.com/ */
.btn-gradient {
  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
  border: 0;
  color: rgba(var(--text-color));
}

